<footer class="footer">
    <div class="container">

        <div class="footer__social">
            <div class="socail">
                <ul class="social__list">
                    <li class="social__item">
                        <a href="https://twitter.com" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.facebook.com" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://dribbble.com" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.instagram.com" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer__text">
            <p>2016-2019 © Design by Unvab. Code by <a class="footer__link" href="https://github.com/kadonomaro" target="_blank" rel="noopener noreferrer">Kadonomaro</a></p>
        </div>

    </div><!--container-->
</footer>