<header class="page-header">
    <div class="container">
        <div class="page-header__inner">

            <div class="page-header__logo logo"></div>
            <nav class="page-header__nav main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="#" class="main-nav__link">about</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">contact</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">portfolio</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">blog</a></li>
                </ul>
            </nav>

        </div>
    </div><!--container-->
</header>