<header class="main-header">
    <div class="container">
        <div class="main-header__inner">

            <div class="main-header__logo">
                <div class="logo">
                    <a href="index.html" class="logo__link">
                        <img src="./image/logo-light.svg" alt="Snow logo" class="logo__img" width="85">
                        <img src="./image/logo.svg" alt="Snow logo" class="logo__img logo__img--dark" width="85">
                    </a>
                </div>
            </div>

            <nav class="main-header__nav main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="#" class="main-nav__link">about</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">contact</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">portfolio</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">blog</a></li>
                </ul>
            </nav>

        </div>
    </div><!--container-->
</header>