.social {

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    &__item {
        padding: 3px 6px;
    }
    &__link {
        display: block;
        font-size: 16px;
        color: inherit;
        opacity: 0.4;
        transition: all 0.3s ease-in;
        &:hover {
            transform: translateY(-2px);
            opacity: 1;
        }
    }
}