.about {
    padding: 80px 0;
    text-align: center;
    &__inner {

    }
    &__title {
        
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__img {
        display: inline-block;
    }
}