.about {
    

    padding: 80px 0;
    text-align: center;
    &__inner {
        max-width: 730px;
        margin: 0 auto;
    }
    &__title {
        
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__img {
        display: inline-block;
    }
}