.blog {
    padding: 80px 0 100px;
    background-color: #fafafa;
    &__filter {
        margin-bottom: 30px;
    }
    &__list--center {
        @include flex-columns(8);
        margin: 0 auto;
    }
    &__item {
        width: 100%;
        margin-bottom: 30px;
    }
}
.blog--gray {
    flex-grow: 1;
    padding: 120px 0 80px;
    background-color: #f6f6f6;
}


.blog-post {
    padding: 0 15px;
    
    &__img {
        position: relative;
        overflow: hidden;
        &:hover img {
            transform: scale(1.03);
        }
    }
    &__img img {
        transition: transform 0.5s ease-in;
    }
    &__link {
        
    }
    &__category {
        position: absolute;
        left: 10px;
        bottom: 10px;
        display: block;
        padding: 5px 15px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #252525;
    }
    &__content {
        padding: 25px 30px;
        background-color: #ffffff;
    }
    &__title {
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
        font-size: 21px;
        line-height: 1.1;
    }
    &__title-link {
        color: #171717;
        text-decoration: none;
        transition: color 0.2s ease-in;
        &:hover {
            color: lighten($color: #171717, $amount: 50)
        }
    }
    &__date {
        display: block;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__text {
        color: #5f5f5f;
        font-size: 15px;
        letter-spacing: 0.04em;
    }
    &__text--large p {
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}



@include media(1023) {

    .blog {

        &__list--center {
            @include flex-columns(10);
            margin: 0 auto;
        }
    }

}

@include media(600) {
    .blog {
        padding: 30px 0;
        &__filter {
            margin-bottom: 10px;
        }
        &__list--center {
            @include flex-columns(12);
        }
    }
    .blog--gray {
        padding-top: 80px;
    }
}