
$link-color--hover: #000000;
$link-color-light: #bfbfbf;
$link-color-light--hover: #ffffff;

.main-header {
    position: fixed;
    z-index: 9;
    width: 100%;
    color: $link-color-light;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease-in;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: auto;
    }
}
.main-header--light {
    color: $link-color-light;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.2);
    .main-nav-toggle {
        &__line {
            background-color: #6f6f6f;
        }
    }
}


.main-nav {
    padding: 33px 0;
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        margin-right: 30px;
    }
    &__link {
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s ease-in;
        &:hover {
            color: $link-color-light--hover;
        }
    }
    &__social {
        display: none;
    }
}
.main-nav--light {
    .main-nav__link {
        &:hover {
            color: #000000;
        }
    }
}


.main-nav-toggle {
    position: fixed;
    z-index: 9;
    top: 20px;
    right: 20px;
    width: 40px;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    &__line {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        transform-origin: center;
        transition: transform 0.3s linear, opacity 0.2s linear, background-color 0.3s ease-in;
    }
    &__line:not(:last-child) {
        margin-bottom: 10px;
    }
}
.main-nav-toggle--active {
    .main-nav-toggle__line {
        opacity: 0;
    }
    .main-nav-toggle__line:first-child {
        transform: translateY(15px) rotate(45deg);
        opacity: 1;
    }
    .main-nav-toggle__line:last-child {
        transform: translateY(-15px) rotate(-45deg);
        opacity: 1;
    }
}


.main {
    position: relative;
    min-height: 100vh;
    // min-height: calc(var(--vh, 1vh) * 100); //chrome android height fix
    padding-top: 15.625%;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    text-align: center;
    box-sizing: border-box;
    &__background {
        background-image: url('../image/main.jpg');
        background-size: cover;
        background-position: 50% 50%;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(12, 12, 12, 0.6);
        }
    }
    &__title {
        margin-bottom: 50px;
        font-size: 51px;
        line-height: 1.18;
    }
    &__title--italic {
        display: block;
        font-style: italic;
        font-weight: normal;
    }
    &__subtitle {
        display: block;
        margin-bottom: 17px;
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }
    &__button {
        min-width: 200px;
    }
}


/*****MEDIA QUERIES*****/
@include media(600) {
    .main {
        padding-top: 100px;
        @supports (-webkit-appearance:none) {
            min-height: calc(100vh - 56px);
        }
        &__title {
            margin-bottom: 30px;
            font-size: 40px;
            // line-height: 1;
        }
    }

    .main-header {
        .logo {
            padding: 20px 0;
        }
    }

    .main-nav-toggle {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #303030, $alpha: 0.95);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        &__list {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin-bottom: auto;
        }
        &__item {
            margin: 25px 0;
        }
        &__link {
            color: #bfbfbf;
        }
        &__social {
            display: block;
        }
    }
    .main-nav--active {
        transform: translateX(0);
    }
}