@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, form, blockquote {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  line-height: 1.65;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.section-title {
  margin-bottom: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  line-height: 1.1;
  text-align: center;
}

.section-subtitle {
  display: block;
  margin-bottom: 50px;
  color: #5f5f5f;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 28px;
  }
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../libs/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../libs/slick/fonts/slick.eot");
  src: url("../libs/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../libs/slick/fonts/slick.woff") format("woff"), url("../libs/slick/fonts/slick.ttf") format("truetype"), url("../libs/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}

.blog .slick-dots li button::before {
  color: #333333;
}

.button {
  padding: 18px 25px;
  color: #ffffff;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: #252525;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #444444;
}

.social {
  color: #000000;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__item {
  padding: 3px 6px;
}

.social__link {
  display: block;
  font-size: 16px;
  color: inherit;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.social__link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: 1;
}

.social--light {
  color: #ffffff;
}

.main-header {
  position: fixed;
  z-index: 9;
  width: 100%;
  color: #bfbfbf;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo {
  margin-right: auto;
}

.main-header--light {
  color: #bfbfbf;
  background-color: #fff;
}

.main-header--light .main-nav-toggle__line {
  background-color: #a3a3a3;
}

.main-nav {
  padding: 33px 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav__item {
  margin-right: 30px;
}

.main-nav__link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.main-nav__link:hover {
  color: #ffffff;
}

.main-nav__social {
  display: none;
}

.main-nav--light .main-nav__link:hover {
  color: #000000;
}

.main-nav-toggle {
  position: fixed;
  z-index: 9;
  top: 20px;
  right: 20px;
  width: 40px;
  display: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.main-nav-toggle__line {
  width: 100%;
  height: 5px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.2s linear;
  transition: transform 0.3s linear, opacity 0.2s linear, -webkit-transform 0.3s linear;
}

.main-nav-toggle__line:not(:last-child) {
  margin-bottom: 10px;
}

.main-nav-toggle--active .main-nav-toggle__line {
  opacity: 0;
}

.main-nav-toggle--active .main-nav-toggle__line:first-child {
  -webkit-transform: translateY(15px) rotate(45deg);
          transform: translateY(15px) rotate(45deg);
  opacity: 1;
}

.main-nav-toggle--active .main-nav-toggle__line:last-child {
  -webkit-transform: translateY(-15px) rotate(-45deg);
          transform: translateY(-15px) rotate(-45deg);
  opacity: 1;
}

.main {
  position: relative;
  height: 100vh;
  padding-top: 300px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__background {
  background-image: url("../image/main.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.main__background::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.6);
}

.main__title {
  margin-bottom: 50px;
  font-size: 51px;
  line-height: 1.18;
}

.main__title--italic {
  display: block;
  font-style: italic;
  font-weight: normal;
}

.main__subtitle {
  display: block;
  margin-bottom: 17px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.main__button {
  min-width: 200px;
}

/*****MEDIA QUERIES*****/
@media screen and (max-width: 600px) {
  .main {
    padding-top: 100px;
  }
  .main__title {
    font-size: 40px;
  }
  .main-header .logo {
    padding: 20px 0;
  }
  .main-nav-toggle {
    display: block;
  }
  .main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(48, 48, 48, 0.95);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .main-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: auto;
  }
  .main-nav__item {
    margin: 25px 0;
  }
  .main-nav__link {
    color: #bfbfbf;
  }
  .main-nav__social {
    display: block;
  }
  .main-nav--active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about {
  padding: 80px 0;
  text-align: center;
}

.about__inner {
  max-width: 730px;
  margin: 0 auto;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__img {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .about {
    padding: 30px 0;
  }
}

.features {
  position: relative;
  padding: 95px 0;
  color: #ffffff;
}

.features__background {
  background-image: url("../image/bg-pattern.jpg");
  background-size: cover;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.features__item {
  -ms-flex-preferred-size: calc((100% / 12 * 3) - (0px * 2));
      flex-basis: calc((100% / 12 * 3) - (0px * 2));
  max-width: calc((100% / 12 * 3) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature {
  position: relative;
  padding-left: 70px;
  font-weight: 500;
}

.feature__title {
  display: block;
  font-size: 18px;
}

.feature__subtitle {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.feature::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 45px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature--suitcase::before {
  background-image: url("../image/icons/suitcase.svg");
}

.feature--clock::before {
  background-image: url("../image/icons/clock.svg");
}

.feature--stars::before {
  background-image: url("../image/icons/star.svg");
}

.feature--likes::before {
  background-image: url("../image/icons/heart.svg");
}

@media screen and (max-width: 1023px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% / 12 * 6) - (0px * 2));
        flex-basis: calc((100% / 12 * 6) - (0px * 2));
    max-width: calc((100% / 12 * 6) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .features {
    padding: 30px 0;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (0px * 2));
        flex-basis: calc((100% / 12 * 12) - (0px * 2));
    max-width: calc((100% / 12 * 12) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
    min-width: 200px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.projects {
  padding: 80px 0;
}

.projects__filter {
  margin-bottom: 30px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  -ms-flex-preferred-size: calc((100% / 12 * 4) - (0px * 2));
      flex-basis: calc((100% / 12 * 4) - (0px * 2));
  max-width: calc((100% / 12 * 4) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 280px;
}

.projects--gray {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 120px 0 80px;
  background-color: #f6f6f6;
}

.projects-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-filter__toggle {
  width: 16px;
  height: 16px;
  margin-bottom: 20px;
  background-color: #eaeaea;
  cursor: pointer;
}

.projects-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  list-style: none;
}

.projects-filter__item {
  padding: 0px 17px;
  color: #5f5f5f;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.projects-filter__item:hover {
  color: #000000;
}

.project {
  position: relative;
  font-family: 'Playfair Display', serif;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.project:hover .project__overlay {
  opacity: 1;
}

.project:hover .project__title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project__subtitle {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__img {
  width: 100%;
}

.project__overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}

.project__title {
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 1.1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.project__subtitle {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media screen and (max-width: 1023px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% / 12 * 6) - (0px * 2));
        flex-basis: calc((100% / 12 * 6) - (0px * 2));
    max-width: calc((100% / 12 * 6) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .projects {
    padding: 30px 0;
  }
  .projects__item {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (0px * 2));
        flex-basis: calc((100% / 12 * 12) - (0px * 2));
    max-width: calc((100% / 12 * 12) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .projects--gray {
    padding-top: 80px;
  }
  .projects-filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -5px;
  }
  .projects-filter__item {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    margin: 5px;
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #6f6f6f;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .projects-filter__item:hover::before {
    width: 100%;
  }
  .projects-filter__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #5f5f5f;
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
    opacity: 0.5;
  }
}

.reviews {
  position: relative;
  padding: 160px 0 80px;
  color: #ffffff;
}

.reviews__background {
  background-image: url("../image/bg-pattern.jpg");
  background-size: cover;
}

.reviews__list {
  max-width: 715px;
  margin: 0 auto;
}

.review {
  margin-bottom: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  line-height: 1.45;
  text-align: center;
}

.review__text {
  margin-bottom: 17px;
  font-style: italic;
  letter-spacing: 0.004em;
}

.review__text::before {
  content: "“ ";
  font-size: 30px;
}

.review__text::after {
  content: " ”";
  font-size: 30px;
}

.review__author {
  font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .reviews {
    padding: 30px 0;
  }
  .review {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.partners__list {
  padding: 17px 0;
}

.partners__item {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .partners__item {
    padding: 5px;
  }
}

.blog {
  padding: 80px 0 100px;
  background-color: #fafafa;
}

.blog__list {
  padding-bottom: 20px;
}

.blog-post {
  padding: 0 15px;
}

.blog-post__img {
  position: relative;
  overflow: hidden;
}

.blog-post__img:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.blog-post__img img {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.blog-post__category {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: block;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #252525;
}

.blog-post__content {
  padding: 25px 30px;
  background-color: #ffffff;
}

.blog-post__title {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  line-height: 1.1;
}

.blog-post__title-link {
  color: #171717;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.blog-post__title-link:hover {
  color: #979797;
}

.blog-post__date {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.blog-post__text {
  color: #5f5f5f;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .blog {
    padding: 30px 0;
  }
}

.contacts {
  padding: 100px 0;
  background-color: #f6f6f6;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__info {
  -ms-flex-preferred-size: calc((100% / 12 * 5) - (0px * 2));
      flex-basis: calc((100% / 12 * 5) - (0px * 2));
  max-width: calc((100% / 12 * 5) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
  padding: 30px 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__title {
  text-align: left;
}

.contacts__desc {
  margin-bottom: 20px;
  text-align: left;
}

.contacts__list {
  color: #5f5f5f;
  list-style: none;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__data-title {
  color: #171717;
  font-weight: bold;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.contacts__link:hover {
  color: #0e0e0e;
}

.contacts__form {
  -ms-flex-preferred-size: calc((100% / 12 * 7) - (0px * 2));
      flex-basis: calc((100% / 12 * 7) - (0px * 2));
  max-width: calc((100% / 12 * 7) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
  padding: 30px 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-form__input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 16px 22px;
  font-family: inherit;
  font-size: 14px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts-form__name, .contacts-form__email {
  width: calc(50% - 15px);
}

.contacts-form__name {
  margin-right: 30px;
}

.contacts-form__comment {
  resize: vertical;
}

@media screen and (max-width: 1023px) {
  .contacts__info {
    -ms-flex-preferred-size: calc((100% / 12 * 6) - (0px * 2));
        flex-basis: calc((100% / 12 * 6) - (0px * 2));
    max-width: calc((100% / 12 * 6) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .contacts__form {
    -ms-flex-preferred-size: calc((100% / 12 * 6) - (0px * 2));
        flex-basis: calc((100% / 12 * 6) - (0px * 2));
    max-width: calc((100% / 12 * 6) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .contacts-form__name, .contacts-form__email {
    width: 100%;
  }
  .contacts-form__name {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .contacts {
    padding: 30px 0;
  }
  .contacts__info {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (0px * 2));
        flex-basis: calc((100% / 12 * 12) - (0px * 2));
    max-width: calc((100% / 12 * 12) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .contacts__form {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (0px * 2));
        flex-basis: calc((100% / 12 * 12) - (0px * 2));
    max-width: calc((100% / 12 * 12) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
  }
  .contacts-form__button {
    width: 100%;
  }
}

.footer {
  padding: 45px 0 25px;
  background-color: #ebebeb;
}

.footer__social {
  margin-bottom: 12px;
}

.footer__text {
  margin-bottom: 20px;
  color: #5f5f5f;
  font-size: 14px;
  text-align: center;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.footer__link:hover {
  color: #0e0e0e;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 20px 0;
  }
  .footer__text {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */