body, h1, h2, h3, h4, h5, h6, p, ul, form {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  width: 100%;
  line-height: 1.2;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.section-title {
  margin-bottom: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  text-align: center;
}

.section-subtitle {
  text-align: center;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.logo__img--dark {
  display: none;
}

.button {
  min-width: 200px;
  padding: 18px 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #252525;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #444444;
}

.main-header {
  position: fixed;
  z-index: 9;
  width: 100%;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo {
  margin-right: auto;
}

.main-nav {
  padding: 33px 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav__item {
  margin-right: 30px;
}

.main-nav__link {
  color: #bfbfbf;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  position: relative;
  height: 100vh;
  padding-top: 300px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__background {
  background-image: url("../image/main.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.main__background::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.6);
}

.main__title {
  margin-bottom: 50px;
  font-size: 51px;
}

.main__title--italic {
  display: block;
  font-style: italic;
  font-weight: normal;
}

.main__subtitle {
  display: block;
  margin-bottom: 17px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.about {
  padding: 80px 0;
  text-align: center;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__img {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */